*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;
}

.navbar{
	background-color: #333745;
}

#navbrand{
	color: white;
}

nav>button{
	background-color: white;
	color: white;
}

#collapse{
	background-color: white;
	color: white;
}

#foot{
	background-color: #333745;
}

#navlist{
	background-color: #333745;
	color: white;
}

.breadcrumb > .breadcrumb-item{
   color: white;
}